<form role="form">
<div class="modal-header">
  <h3 class="modal-title text-center text-info">{{title}}</h3>
</div>
<div class="modal-body">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" ng-model="move.name">
    </div>
    <div class="form-group">
      <label>Kills</label>
      <select class="form-control" ng-model="move.kill" ng-options="move._id as move.name for move in moves"></select>
    </div>
</div>
<div class="modal-footer">
  <button class="btn btn-success" ng-click="save()"><i class="glyphicon glyphicon-floppy-saved"></i> Save</button>
  <button class="btn btn-danger" ng-click="cancel()"><i class="glyphicon glyphicon-floppy-remove"></i> Cancel</button>
</div>
</form>