<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2><i class="fa fa-cog" aria-hidden="true"></i> Options</h2>
    <h4 class="margin-bottom-xxl">This is the list of moves available. You can add or edit moves any time.</h4>
    <span class="text-link text-m" ng-click="openCreateMove()"><i class="glyphicon glyphicon-plus"></i> New move</span>
    <table class="table table-hover" ng-show="moves.length > 0">
      <thead>
      <tr>
        <th>Name</th>
        <th>Kills</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="move in moves">
        <td>{{move.name}}</td>
        <td>{{getMoveById(move.kill).name}}</td>
        <td>
          <span class="text-link text-m" ng-click="openUpdateMove(move)" uib-tooltip="Edit" tooltip-popup-delay="250"><i class="glyphicon glyphicon-edit"></i></span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>