<div class="bottom-container" ng-click="clearNotifications()" ng-show="notifications.error.active">
  <div class="alert alert-danger">
    <i class="glyphicon glyphicon-exclamation-sign text-xl pull-left"></i>
    <div class="text-center text-m">{{notifications.error.text}}</div>
  </div>
</div>

<div class="bottom-container" ng-click="clearNotifications()" ng-show="notifications.warning.active">
  <div class="alert alert-warning">
    <i class="glyphicon glyphicon-exclamation-sign text-xl pull-left"></i>
    <div class="text-center text-m">{{notifications.warning.text}}</div>
  </div>
</div>

<div class="bottom-container" ng-click="clearNotifications()" ng-show="notifications.success.active">
  <div class="alert alert-success">
    <i class="glyphicon glyphicon-ok-sign text-xl pull-left"></i>
    <div class="text-center text-m">{{notifications.success.text}}</div>
  </div>
</div>

<div class="bottom-container" ng-click="clearNotifications()" ng-show="notifications.info.active">
  <div class="alert alert-info">
    <i class="glyphicon glyphicon-info-sign text-xl pull-left"></i>
    <div class="text-center text-m">{{notifications.info.text}}</div>
  </div>
</div>