<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navLinks" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">Game of Drones</a>
    </div>
    <div class="collapse navbar-collapse" id="navLinks">
      <ul class="nav navbar-nav">
        <li><a href="#/play"><i class="fa fa-play-circle" aria-hidden="true"></i> Play</a></li>
        <li><a href="#/scores"><i class="fa fa-bar-chart" aria-hidden="true"></i> Scores</a></li>
        <li><a href="#/options"><i class="fa fa-cog" aria-hidden="true"></i> Options</a></li>
      </ul>
    </div>

  </div>
</nav>