<div>
  <div class="modal-header">
    <h3 class="modal-title text-center text-info"> <i class="glyphicon glyphicon-question-sign"></i>{{modalTitle}}</h3>
  </div>
  <div class="modal-body wrap-text text-center medium-text light">
    <p>{{modalText}}</p>
    <p class="no-margin-bottom">{{modalQuestion}}</p>
  </div>
  <div class="modal-footer no-margin-top">
    <button class="btn btn-success" ng-click="accept()">Aceptar</button>
    <button class="btn btn-danger" ng-click="cancel()">Cancelar</button>
  </div>
</div>