.margin-top-xxs {
  margin-top: 2px;
}

.margin-top-xs {
  margin-top: 5px;
}

.margin-top-s {
  margin-top: 8px;
}

.margin-top-m {
  margin-top: 10px;
}

.margin-top-l {
  margin-top: 15px;
}

.margin-top-xl {
  margin-top: 18px;
}

.margin-top-xxl {
  margin-top: 20px;
}

.margin-bottom-xxs {
  margin-bottom: 2px;
}

.margin-bottom-xs {
  margin-bottom: 5px;
}

.margin-bottom-s {
  margin-bottom: 8px;
}

.margin-bottom-m {
  margin-bottom: 10px;
}

.margin-bottom-l {
  margin-bottom: 15px;
}

.margin-bottom-xl {
  margin-bottom: 18px;
}

.margin-bottom-xxl {
  margin-bottom: 20px;
}
