.text-xxxs {
  font-size: 10px;
}

.text-xxs {
  font-size: 12px;
}

.text-xs {
  font-size: 14px;
}

.text-s {
  font-size: 16px;
}

.text-m {
  font-size: 18px;
}

.text-l {
  font-size: 20px;
}

.text-xl {
  font-size: 24px;
}

.text-xxl {
  font-size: 28px;
}