doctype html
head
  title='Game of Drones'
  meta(content="width=device-width, initial-scale=1", name="viewport")

  link(rel="stylesheet", href="/libs/bootstrap/dist/css/bootstrap.css")
  link(rel="stylesheet", href="/libs/font-awesome/css/font-awesome.css")
  link(rel="stylesheet", href="/libs/animate.css/animate.min.css")

  script(type='text/javascript', src="/libs/angular/angular.js", charset="utf-8")
  script(type='text/javascript', src="/libs/jquery/dist/jquery.min.js", charset="utf-8")
  script(type='text/javascript', src="/libs/bootstrap/dist/js/bootstrap.min.js", charset="utf-8")
  script(type='text/javascript', src="/libs/angular-route/angular-route.js", charset="utf-8")
  script(type='text/javascript', src="/libs/angular-resource/angular-resource.js", charset="utf-8")
  script(type='text/javascript', src="/libs/angular-animate/angular-animate.js", charset="utf-8")
  script(type='text/javascript', src="/libs/angular-aria/angular-aria.js", charset="utf-8")
  script(type='text/javascript', src="/libs/angular-messages/angular-messages.js", charset="utf-8")
  script(type='text/javascript', src="/libs/angular-bootstrap/ui-bootstrap-tpls.js", charset="utf-8")

  //STYLES
  link(rel="stylesheet", type="text/css", href="/dist/app.min.css")

  if env == "PROD"
    script(type='text/javascript', src="/dist/app.config.js", charset="utf-8")
    script(type='text/javascript', src="/dist/app.scripts.min.js", charset="utf-8")

  if env == "LOCAL"
    script(type='text/javascript', src="/config/app.config.js", charset="utf-8")
    script(type='text/javascript', src="/config/app.routes.js", charset="utf-8")
    //  app
    script(type='text/javascript', src="/resource/app/app.ctrl.js", charset="utf-8")
    //  ask
    script(type='text/javascript', src="/resource/ask/ask.ctrl.js", charset="utf-8")
    script(type='text/javascript', src="/resource/ask/ask.drct.js", charset="utf-8")
    //  factories
    script(type='text/javascript', src="/resource/factories/games.fct.js", charset="utf-8")
    script(type='text/javascript', src="/resource/factories/moves.fct.js", charset="utf-8")
    script(type='text/javascript', src="/resource/factories/players.fct.js", charset="utf-8")
    //  header
    //  index
    script(type='text/javascript', src="/resource/index/index.ctrl.js", charset="utf-8")
    // notifications
    script(type='text/javascript', src="/resource/notifications/notifications.ctrl.js", charset="utf-8")
    script(type='text/javascript', src="/resource/notifications/notifications.srv.js", charset="utf-8")
    //  options
    script(type='text/javascript', src="/resource/options/options.ctrl.js", charset="utf-8")
    script(type='text/javascript', src="/resource/options/options.srv.js", charset="utf-8")
    script(type='text/javascript', src="/resource/options/moveEdition.ctrl.js", charset="utf-8")
    //  play
    script(type='text/javascript', src="/resource/play/play.ctrl.js", charset="utf-8")
    script(type='text/javascript', src="/resource/play/play.srv.js", charset="utf-8")
    //  round
    script(type='text/javascript', src="/resource/round/round.drct.js", charset="utf-8")
    script(type='text/javascript', src="/resource/round/round.srv.js", charset="utf-8")
    //  scores
    script(type='text/javascript', src="/resource/scores/scores.ctrl.js", charset="utf-8")
    script(type='text/javascript', src="/resource/scores/scores.srv.js", charset="utf-8")


  html(lang="en", ng-app='GameOfDrones')
  body(ng-controller="AppCtrl")
    .header(ng-include="'/resource/header/header.tpl.html'")
    .notification(ng-include="'/resource/notifications/notifications.tpl.html'", ng-controller="NotificationsCtrl")
    .container-fluid
      .view-container
        .view-frame(data-ng-view="")