.text-link {
  cursor: pointer;
  color: #337ab7;
}

.text-link:hover {
  cursor: pointer;
  color: #224974;
}

.text-danger-link {
  cursor: pointer;
  color: #a94442;
}

.text-danger-link:hover {
  cursor: pointer;
  color: #853D3B;
}

.text-success-link {
  cursor: pointer;
  color: #3c763d;
}

.text-success-link:hover {
  cursor: pointer;
  color: #2A542A;
}

.text-warning-link {
  cursor: pointer;
  color: #8a6d3b;
}

.text-warning-link:hover {
  cursor: pointer;
  color: #705535;
}

/* Animation when page changes */
.view-container {
  position: relative;
}

.view-frame.ng-enter, .view-frame.ng-leave {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.view-frame.ng-enter {
  -webkit-animation: 0.5s fade-in;
  -moz-animation: 0.5s fade-in;
  -o-animation: 0.5s fade-in;
  animation: 0.5s fade-in;
  z-index: 100;
}

.view-frame.ng-leave {
  -webkit-animation: 0.5s fade-out;
  -moz-animation: 0.5s fade-out;
  -o-animation: 0.5s fade-out;
  animation: 0.5s fade-out;
  z-index:99;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-webkit-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-moz-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-webkit-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

.tada.ng-hide-remove {
  -webkit-animation: 0.5s pulse;
  animation: 0.5s pulse;
}

.fade-in.ng-hide-remove {
  -webkit-animation: 0.5s fade-in;
  animation: 0.5s fade-in;
}

#scores-container {
  min-height: 360px;
}

#game-container {
  min-height: 360px;
}