<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="jumbotron">
      <h1>Game of Drones!</h1>
      <p>Start playing this awesome game. No registration needed! Just tell us your name and we take care of the rest!</p>
      <a class="btn btn-primary btn-lg" role="button" href="#/play"><i class="fa fa-play-circle" aria-hidden="true"></i> Start Now!</a>
    </div>
  </div>
</div>