<div class="row" ng-if="scores">
  <div class="col-md-8 col-md-offset-2">
    <h2><i class="fa fa-bar-chart" aria-hidden="true"></i> Scores</h2>
    <table class="table table-hover" ng-if="players.length > 0">
      <thead>
      <tr>
        <th>Name</th>
        <th>Wins</th>
        <th>Games Played</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="player in players">
        <td>{{player.name}}</td>
        <td>{{scores[player._id].victories}}</td>
        <td>{{scores[player._id].played}}</td>
      </tr>
      </tbody>
    </table>
    <div class="alert alert-info text-center" ng-if="players.length == 0">
      <i class="glyphicon glyphicon-info-sign"></i> There is no information about scores yet. Start playing to see the information.
    </div>
  </div>
</div>
