<div class="row" ng-show="!game.started">
  <div class="col-md-8 col-md-offset-2">
    <div class="jumbotron">
      <form role="form" name="playersForm" class="form" novalidate>
        <h1><i class="fa fa-users" aria-hidden="true"></i> Players</h1>
        <p>Please tell us your names. If your name is not registered in our system then a new user will be created.</p>
        <div class="form-group" ng-class="{'has-error': (playersForm.$submitted || playersForm.playerOne.$touched) && playersForm.playerOne.$error.required}">
          <label class="control-label" for="playerOne">Player one:</label>
          <input id="playerOne" type="text" name="playerOne" class="form-control" ng-model="playerOneName" required>
        </div>
        <div class="form-group" ng-class="{'has-error': (playersForm.$submitted || playersForm.playerTwo.$touched) && playersForm.playerTwo.$error.required}">
          <label class="control-label" for="playerTwo">Player two:</label>
          <input type="text" id="playerTwo" name="playerTwo" class="form-control" ng-model="playerTwoName" required>
        </div>
        <button type="submit" class="btn btn-primary btn-lg" ng-click="startGame(playersForm)">Start Game!</button>
      </form>
    </div>
  </div>
</div>

<div class="row" ng-show="game.started">
  <div class="col-md-8">
    <div id="game-container" class="jumbotron" >
      <div ng-show="!gameOver" god-round god-game="game" god-current-round="currentRound" god-player-one="playerOne" god-player-two="playerTwo" god-finish-round="finishRound()"></div>
      <div class="tada" ng-show="gameOver">
        <h1 class="text-center">We have a WINNER!!</h1>
        <h3 class="text-center">{{lastWinner.name}} is the new emperor!</h3>
        <div class="text-center">
          <button type="btn" class="btn btn-lg btn-primary" ng-click="playAgain()"><i class="fa fa-play-circle" aria-hidden="true"></i> Play Again</button>
          <a type="btn" class="btn btn-lg btn-primary" href="#/">Back to beginning</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div id="scores-container" class="jumbotron">
      <h2>Score</h2>
      <h5 ng-show="game.rounds.length == 0">There are three rounds. We will show you the winner of each one here.</h5>
      <table class="table table-hover fade-in" ng-show="game.rounds.length > 0">
        <thead>
        <tr>
          <th>Round</th>
          <th>Winner</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="round in game.rounds" ng-init="winner=getPlayer(round.winner)">
          <td>{{$index + 1}}</td>
          <td>{{winner ? winner.name : 'Tie'}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
