<div class="row" ng-show="godGame.started">
  <div class="col-md-12">
    <form role="form" class="form" novalidate>
      <h1>Round {{godGame.rounds.length + 1}}:</h1>
      <h3>{{!godCurrentRound.movePlayerOne ? godPlayerOne.name : godPlayerTwo.name}} select a move</h3>
      <div class="form-group">
        <label class="control-label">Moves:</label>
        <select class="form-control" ng-model="move" ng-init="moves[0]" ng-options="move as move.name for move in moves"></select>
      </div>
      <button type="submit" class="btn btn-lg btn-primary" ng-click="finishMove(move)">Continue</button>
    </form>
  </div>
</div>